.user {
    width: 100%;
    max-width: 20em;
    border-radius: 0.5em;
    border: 0.1em solid #aaaaaa55;
    padding: 1.5em 1em 2em;
}
.user__name {
    font-size: 1.1em;
    font-weight: 600;
}
.user__hr {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-color: #aaaaaa22;
}
.user__list {
    display: grid;
    gap: 0.7em;
    margin-bottom: 1.2em;
}
.user__item {
    display: grid;
    gap: 0.2em;
}
.user__label {
    font-size: 0.8em;
    padding-left: 1em;
    color: #aaa;
    text-transform: uppercase;
}
.user__value {
    font-size: 0.9em;
    font-weight: 300;
}
.user__footer {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}
.user__btn {
    font-size: 1.2em;
    width: 2.2em;
    aspect-radio: 1;
    border-radius: 0.5em;
    color: white;
    &:hover {
        filter: brightness(1.2);
    } 
}
.user__delete {
    background-color: rgb(208,6,6);
}
.user__edit {
    background-color: #999;
}


